In [10]:
# Load basic title data from the disk 
basics = pd.read_csv('C:\\API-Driven\\title.basics.tsv', sep='\t',
    low_memory=False, na_values=['\\N'])

In [15]:
# Load  title d ratings ata from the disk 
ratings = pd.read_csv('C:\\API-Driven\\title.ratings.tsv', sep='\t',
    low_memory=False, na_values=['\\N'])

In [16]:
# print number of records
print(len(basics), len(ratings))

11185282 1490875

In [17]:
# print head 
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5,"Animation,Short"
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1,"Comedy,Short"

In [18]:
# join both datasets on tconst 
data = pd.merge(basics, ratings, on="tconst")
data.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1,"Documentary,Short",5.7,2096
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5,"Animation,Short",5.6,283
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,5,"Animation,Comedy,Romance",6.5,2105
3,tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,NaN,12,"Animation,Short",5.4,183
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1,"Comedy,Short",6.2,2841

In [19]:
# Print summary of new dataFrame 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490875 entries, 0 to 1490874
Data columns (total 11 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   tconst          1490875 non-null  object
 1   titleType       1490875 non-null  object
 2   primaryTitle    1490874 non-null  object
 3   originalTitle   1490874 non-null  object
 4   isAdult         1490875 non-null  float64
 5   startYear       1490629 non-null  float64
 6   endYear         57383 non-null    float64
 7   runtimeMinutes  1047241 non-null  object
 8   genres          1469691 non-null  object
 9   averageRating   1490875 non-null  float64
 10  numVotes        1490875 non-null  int64
dtypes: float64(4), int64(1), object(6)
memory usage: 125.1+ MB

In [20]:
# Find rows with missing values
print("Checking for missing values:")
missing_vals = data.isnull().sum()
print(f"\n{missing_vals}")

Checking for missing values:

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 0
startYear             246
endYear           1433492
runtimeMinutes     443634
genres              21184
averageRating           0
numVotes                0
dtype: int64

In [22]:
#Show  Summary Statistics:
summary_stats = data.describe()
print(summary_stats)

            isAdult     startYear       endYear  averageRating      numVotes
count  1.490875e+06  1.490629e+06  57383.000000   1.490875e+06  1.490875e+06
mean   1.964752e-02  2.003582e+03   2008.144956   6.957340e+00  1.029332e+03
std    2.866680e+00  2.119893e+01     15.209081   1.385449e+00  1.775743e+04
min    0.000000e+00  1.874000e+03   1925.000000   1.000000e+00  5.000000e+00
25%    0.000000e+00  1.997000e+03   2001.000000   6.200000e+00  1.100000e+01
50%    0.000000e+00  2.011000e+03   2013.000000   7.200000e+00  2.600000e+01
75%    0.000000e+00  2.018000e+03   2019.000000   7.900000e+00  1.000000e+02
max    2.023000e+03  2.025000e+03   2030.000000   1.000000e+01  2.954275e+06